<div class="container">
    <mat-toolbar style="margin-bottom: 25px;">
        <span>Provincias</span>
        <div class="example-spacer"></div>

        <button mat-raised-button color="primary" routerLink="/dashboard/crear-provincia">AGREGAR</button>
    </mat-toolbar>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Nombre" #input autocomplete="off">
    </mat-form-field>

    <div class="mat-elevation-z8">
        <table id="tabla" mat-table [dataSource]="dataSource" matSort>
            <!-- Id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td id="iconos" *matCellDef="let element">
                    <a class="pointer" style="color: #1878b0;" matTooltip="Más información"
                        routerLink="/dashboard/ver-provincia/{{element.id}}">
                        <mat-icon>search</mat-icon>
                    </a>
                    <a class="pointer" style="color: #1f516f" matTooltip="Editar provincia"
                        routerLink="/dashboard/actualizar-provincia/{{element.id}}">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <a class="pointer" style="color: rgb(209, 3, 3)" matTooltip="Eliminar provincia"
                        (click)="eliminacion(element.id)">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>