<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
</head>
<body>
  <header style="background-color: blue;">
    VALE CHUMBAR
    <button>Iniciar sesión</button>
    <button>Registrarse</button>
  </header>
  <div>
    <label for="provincia">Provincia:</label>
    <select name="provincia" id="provincia">
      <option value="0">Todos</option>
      <option value="1">Buenos Aires</option>
      <option value="2">Santa Fe</option>
      <option value="3">Corrientes</option>
      <option value="4">Cordoba</option>
    </select>
    <label for="ciudad">Ciudad:</label>
    <select name="ciudad" id="ciudad">
      <option value="0">Todos</option>
    </select>
  </div>
  <div id="canchas">
    <div style="border: 1px solid;width: 300px;">
      <h5>Cancha</h5>
      <p>Horarios: 9 a 13hs, 16 a 18hs, 21 a 00hs</p>
    </div>
    <div style="border: 1px solid;width: 300px;" >
      <h5>Cancha 2</h5>
      <p>Horarios: 9 a 13hs, 16 a 18hs, 21 a 00hs</p>
    </div>
    <div style="border: 1px solid;width: 300px;" >
      <h5>Cancha 3</h5>
      <p>Horarios: 9 a 13hs, 16 a 18hs, 21 a 00hs</p>
    </div>
  </div>

  <footer style="background-color: rgba(4, 4, 107, 0.925);color: white;">
    Este es el pie de pagina
  </footer>
</body>
</html>